<div class="sidenav">
    <div class="login-main-text">
       <h2>Any Document Management</h2>
       <p>Beta version</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-outline-dark">Login</button>
             <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
          </form>
       </div>
    </div>
 </div>